<div class="login-body">
    <div class="login-panel p-fluid">
        <!-- <div  style="background-color: #111c4e; width: 15rem;height: 10rem;">
            <img src="assets/img/SIVETWEB.png">
        </div> -->
        <div class="login-panel-content">
            <div class="p-grid">
                <div class="p-col-12" style="text-align: center;">
                    <div  style="background-color: #111c4e; border-radius: 2rem;">
                        <img src="assets/img/SIVETWEB.png" style="width: 15rem;height: 10rem;">
                    </div>
                    <br>
                    <h1>Plataforma web del instituto INABVE</h1>
                    <h2 *ngIf="banderaLogin" >Iniciar Sesión</h2>
                    <h2 *ngIf="banderaReestablecerClave" >Configurar la Nueva Contraseña</h2>
                    <h2 *ngIf="banderaRecuperarClave" >Recuperación de Cuenta</h2>
                    <h2 *ngIf="banderaCodigoSeguridad" >Validar Código de Seguridad</h2>
                </div>
                <!-- ------------------------------------------------------------------------------------------ -->
                <!--                                            login                                           -->
                <!-- ------------------------------------------------------------------------------------------ -->
                <div class="p-col-12" *ngIf="banderaLogin">
                    <span class="p-float-label">
                        <input [(ngModel)]="userObj.user" type="text" pInputText>
                        <label >Usuario</label>
                    </span>
                </div>
                <div class="p-col-12" *ngIf="banderaLogin">
                    <span class="p-float-label">
                        <p-password (keyup.enter)="authenticate()" [(ngModel)]="userObj.password" [feedback]="false" [toggleMask]="true"></p-password>
                        <!-- <input (keyup.enter)="authenticate()" [(ngModel)]="userObj.password" type="password" pInputText > -->
                        <label >Contraseña</label>
                    </span>
                </div>
                <div class="p-col-6" *ngIf="banderaLogin" style="text-align: center;">
                    <a (click)="recuperarCuenta()" style="cursor:pointer; text-decoration-line: underline;" class="recuperarClave">¿Olvido su Contraseña?</a>
                    <br>
                    <a (click)="cambioCodigoSeguridad()" style="cursor:pointer; text-decoration-line: underline; margin-top: 10px;" class="recuperarClave">Ya tengo un código</a>
                </div>
                <div class="p-col-6" style="text-align: right" *ngIf="banderaLogin">
                    <button pButton pRipple type="button" label="Ingresar" (click)="authenticate()" style="width: 100%;background-color: #111c4e;" [icon]="cargando ? 'pi pi-spin pi-spinner' : 'pi pi-sign-in'" [disabled]="cargando"></button>
                </div>

                <!-- ------------------------------------------------------------------------------------------ -->
                <!--                                 banderaReestablecerClave                                   -->
                <!-- ------------------------------------------------------------------------------------------ -->

                <div class="p-col-12" *ngIf="banderaReestablecerClave">
                    <span class="p-float-label">
                        <p-password [(ngModel)]="userAux.clave" [feedback]="false" (keyup)="validar_password2()" [toggleMask]="true"></p-password>
                        <label >Nueva Contraseña</label>
                    </span>
                </div>
                <div class="p-col-12" *ngIf="banderaReestablecerClave">
                    <span class="p-float-label">
                        <p-password [(ngModel)]="userAux.claveRepetida" [feedback]="false" (keyup)="validar_password3()" [toggleMask]="true"></p-password>
                        <label >Repetir Contraseña</label>
                    </span>
                    <small [class]="banderapassword ? 'passVerde' : 'passRojo'">{{msgConfirmacion}}</small>
                </div>
                <div class="p-col-6" *ngIf="banderaReestablecerClave" style="text-align: left">
                    <small style="color: black; font-weight: bold;">Sugerencias</small>
                    <br>
                    <small><i [class]="tamanioPass ? 'pi pi-check passVerde' : 'pi pi-times passRojo'"></i> &nbsp; Mínimo 8 caracteres</small>
                    <br>
                    <small><i [class]="letrasPass ? 'pi pi-check passVerde' : 'pi pi-times passRojo'"></i> &nbsp; Contiene letras</small>
                    <br>
                    <small><i [class]="simbolosPass ? 'pi pi-check passVerde' : 'pi pi-times passRojo'"></i> &nbsp; Contiene simbolos</small>
                    <br>
                    <small><i [class]="numerosPass ? 'pi pi-check passVerde' : 'pi pi-times passRojo'"></i> &nbsp; Contiene números</small>
                    <br>
                </div>
                <div class="p-col-6" style="text-align: right" *ngIf="banderaReestablecerClave">
                    <button pButton pRipple type="button" label="Continuar" (click)="cambiarClaveEIniciarSesion()" style="width: 100%;background-color: #111c4e;" [icon]="cargando ? 'pi pi-spin pi-spinner' : 'pi pi-sign-in'" [disabled]="cargando ? true : (!letrasPass || !numerosPass || !tamanioPass || !simbolosPass || !banderapassword)"></button>
                    <button pButton pRipple type="button" label="Cancelar" (click)="cancelar()" style="width: 100%;background-color: #707176; margin-top: 5px;" icon="pi pi-times" [disabled]="cargando"></button>
                </div>

                <!-- ------------------------------------------------------------------------------------------ -->
                <!--                                 banderaRecuperarClave                                       -->
                <!-- ------------------------------------------------------------------------------------------ -->
                <div class="p-col-12" style="margin-top: 2.5vh;" *ngIf="banderaRecuperarClave">
                    <span class="p-float-label">
                        <input [(ngModel)]="userObj.user" type="text" pInputText>
                        <label >Usuario</label>
                    </span>
                </div>
                <br>
                <br>
                <div class="p-col-6" style="text-align: left; margin-top: 3vh;" *ngIf="banderaRecuperarClave">
                    <!-- <a (click)="recuperarCuenta()" style="cursor:pointer; text-decoration-line: underline;" class="recuperarClave">¿Olvido su Contraseña?</a> -->
                    <button pButton pRipple type="button" label="Cancelar" (click)="cancelar()" style="width: 100%;background-color: #707176;" icon="pi pi-times"></button>
                </div>
                <div class="p-col-6" style="text-align: right; margin-top: 3vh;" *ngIf="banderaRecuperarClave">
                    <button pButton pRipple type="button" label="Enviar Codigo" pTooltip="Enviará un Codigo para Validar el Inicio de Sesión" (click)="enviarCodigoRecuperacion()" style="width: 100%;background-color: #111c4e;" [icon]="cargando ? 'pi pi-spin pi-spinner' : 'pi pi-sign-in'" [disabled]="cargando"></button>
                </div>

                <!-- ------------------------------------------------------------------------------------------ -->
                <!--                                  Codigo de Seguridad                                       -->
                <!-- ------------------------------------------------------------------------------------------ -->
                <div class="p-col-12" *ngIf="banderaCodigoSeguridad">
                    <span class="p-float-label">
                        <input [(ngModel)]="userObj.user" type="text" pInputText>
                        <label >Usuario</label>
                    </span>
                </div>
                <div class="p-col-12" *ngIf="banderaCodigoSeguridad">
                    <span class="p-float-label">
                        <input [(ngModel)]="userObj.codigoSeguridad" type="text" pInputText>
                        <label >Código de seguridad</label>
                    </span>
                </div>
                <div class="p-col-6" *ngIf="banderaCodigoSeguridad">
                    <button pButton pRipple type="button" label="Cancelar" (click)="cancelar()" style="width: 100%;background-color: #707176;" icon="pi pi-times"></button>
                </div>
                <div class="p-col-6" style="text-align: right" *ngIf="banderaCodigoSeguridad">
                    <button pButton pRipple type="button" label="Verificar" (click)="verificarCodigoSeguridad()" style="width: 100%;background-color: #111c4e;" [icon]="cargando ? 'pi pi-spin pi-spinner' : 'pi pi-check'" [disabled]="cargando"></button>
                </div>

            </div>
        </div>
    </div>
</div>
