<div class="exception-body notfound">
    <div class="exception-panel">
        <div class="exception-image">
            <img src="assets/layout/images/exception/icon-404.png">
        </div>

        <div class="exception-detail">
            <h1>Perdid@?</h1>
            <p>No se ha encontrado la ruta solicitada.</p>
            <p-button label="IR AL INICIO" [routerLink]="['/']"></p-button>
        </div>
    </div>
</div>
