<div class="exception-body accessdenied">
    <div class="exception-panel">
        <div class="exception-image">
            <img src="assets/layout/images/exception/icon-access.png">
        </div>

        <div class="exception-detail">
            <h1>No Autorizad@!</h1>
            <p>No Tiene permisos para acceder a la ruta solicitada</p>
            <p-button label="Ir a inicio" [routerLink]="['/']"></p-button>
        </div>
    </div>
</div>
