
<div class="p-fluid">
    <p-fieldset legend="Detalles de la notificación">
        <div *ngIf="notificacion != null">
            <h6>{{ notificacion.nombre }}</h6>
            <div id="body_notificacion" #body_notificacion [innerHTML]="notificacion.mensajeNotif" class="p-mr-3">
    
            </div>
        </div>
        <!-- <a href="">Ver detalle de planilla</a> -->
    </p-fieldset>
</div><br>
<div class="p-grid">
    <div class="p-col-12" style="text-align: right; align-content: right;">

        <div *ngIf="notificacion != null">
            <button *ngFor="let btn of notificacion.btnAcciones" pButton pRipple type="button" [disabled]="notificacion.idEstado == idNotificacionLeida"
            [label]="btn.soloIcono ? '' : (btn.nombre | titlecase)" class="p-m-1" [style]="'background-color: ' + btn.colorBoton + ';'"
            [pTooltip]="btn.soloIcono ? (btn.nombre | titlecase) : ''" [icon]="btn.icono"
            (click)="cambiarEstadoNotificacion(notificacion, btn)"></button>
    
            <button pButton pRipple type="button" [pTooltip]="btnAux.soloIcono ? 'Marcar como leído' : ''" [icon]="'pi pi-eye'"
            *ngIf="notificacion.idEstado != idNotificacionLeida" [label]="btnAux.soloIcono ? '' : 'Marcar como leído'"
            (click)="marcarComoLeido(notificacion)" class="p-m-1" style="background-color: rgb(182, 179, 179);"></button>
            <button pButton pRipple type="button" [pTooltip]="btnAux.soloIcono ? 'Ver Origen' : ''" [icon]="'pi pi-reply'"
            *ngIf="notificacion.url.length != 0 && notificacion.url != null" [label]="btnAux.soloIcono ? '' : 'Ver Origen'"
            (click)="VerOrigen(notificacion)" class="p-m-1"></button>
        </div>
    </div>
</div>

<p-dialog header="Motivo de Anulación de Planilla" [(visible)]="modalDenegar" appendTo="body" [style]="{width: 'auto'}">
    
    <div class="p-grid p-fluid" style="padding-top: 1vh">
        <p-editor [(ngModel)]="comentario" [style]="{'height':'150px'}"></p-editor>
        <!-- <p-editor [(ngModel)]="planillaADenegar.comentario" [style]="{'height':'320px'}"></p-editor> -->

        <!-- <strong>Razón</strong>
        <textarea [(ngModel)]="planillaADenegar.comentario" style="resize: none;" cols="3" pInputTextarea ></textarea> -->
    </div>
    <div class="p-grid" style="padding-top: 1vh">
        <div class="p-col-12 p-lg-6 p-md-6 p-sm-6" style="text-align: right;"></div> 
        <div class="p-col-12 p-lg-6 p-md-6 p-sm-6" style="text-align: right;">
            <button icon="pi pi-times" class="p-button p-button-primary" style="background-color: rgb(182, 179, 179);" label="Cerrar" (click)="modalDenegar = false" pButton pRipple></button> &nbsp;
            <p-button label="Continuar" icon="pi pi-save" iconPos="left" (onClick)="guardarNotificacion(notificacion, accion)"></p-button>
        </div> 
    </div>
</p-dialog>