<ngx-spinner bdColor = "rgba(0, 0, 0, 0.4)" size = "large" color = "#fff" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
<router-outlet></router-outlet>
