<div class="layout-menu-container" >
    <div class="layout-menu-wrapper">
        <ul class="layout-menu" style="margin: 3px">
            <li app-menuitem style="word-break: break-word!important;" *ngFor="let m of _menu.menuObj; let i = index;" [pTooltip]="m.descripcion" [item]="m" [index]="i" [root]="true" [mega]="false" (click)="changeRoute(m.urlOpt)"></li>
        </ul>
   </div>
</div>

