<div class="layout-topbar" style="padding-top: 0px">
    <p-toast position="top-right" appendTo="body"></p-toast>

    <a href="#" class="layout-menubutton" [ngClass]="{'layout-menubutton-active': app.menuActive}" (click)="app.onMenuButtonClick($event)">
        <div class="layout-menubutton-icon"></div>
    </a>

    <div class="layout-topbar-grid" >
        <div class="layout-topbar-grid-column layout-topbar-grid-column-fixed" >
            <a href="#" class="layout-logo" >
                <img src="assets/layout/images/SIVETWEB.png" alt="SIVET-WEB" style="height: 4rem!important"/>
            </a>
        </div>

        <div class="layout-topbar-grid-column">
            <app-menu></app-menu>
        </div>

        <!-- <div class="layout-topbar-grid-column layout-topbar-grid-column-fixed">
            <span class="layout-topbar-search">
                <span class="p-input-icon-right">
                    <input type="text" pInputText placeholder="Search"/>
                    <i class="pi pi-search"></i>
                </span>
            </span>
        </div> -->

        <div class="layout-topbar-grid-column layout-topbar-grid-column-fixed">

            <button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning" (click)="mostrarNotificaciones(); op.toggle($event)" >
            </button>
            
            <!-- <button pButton pRipple type="button" icon="pi pi-bell" class="p-button-rounded p-button-warning" [label]="countNotifications" >
            </button> -->

            <a icon="pi pi-bell" class="p-button-rounded p-button-warning">
                <i icon="pi pi-chevron-left" pBadge severity="danger" style="font-size: 2rem" (click)="op.toggle($event)" [value]="countNotifications"></i>
            </a>

            <input type="button" hidden [value]="countNotifications" #btn_notificacion>

            <p-overlayPanel #op [style]="countNotifications == '0' ? {width: '30vw'} : {width: '40vw'}" [dismissable]="true" appendTo="body">
                <div class="p-grid">
                    <label class="p-col-12 p-md-1 p-lg-1"></label>

                    <label class="p-col-12 p-md-2 p-lg-2" style="font-weight: bold;">Sonido: </label>
                    <div class="p-col-12 p-md-2 p-lg-2">
                        <p-inputSwitch [(ngModel)]="conSonido" (onChange)="guardarSonido()"></p-inputSwitch>
                        <!-- <p-checkbox [(ngModel)]="conSonido" binary="true" inputId="binary" (onChange)="guardarSonido()"></p-checkbox> -->
                    </div>
                    <label class="p-col-12 p-md-3 p-lg-3" style="font-weight: bold;">Notificación:</label>
                    <div class="p-col-12 p-md-2 p-lg-2">
                        <p-inputSwitch [(ngModel)]="conMensaje" (onChange)="guardarMensaje()"></p-inputSwitch>
                        <!-- <p-checkbox [(ngModel)]="conMensaje" binary="true" inputId="binary" (onChange)="guardarMensaje()"></p-checkbox> -->
                    </div>
                </div>
                <br>
                <div class="p-grid">
                    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6" style="text-align: left;">
                        <!-- <a (click)="buscarNotificaciones()">Mostrar todas las notificaciones</a> -->
                    </div>
                    <div class="p-col-12 p-sm-6 p-md-6 p-lg-6 textHover" style="text-align: right;">
                        <a class="hoverMouse" *ngIf="lsNotificaciones.length > 0" (click)="marcarComoLeidoTodo()">Marcar todo como leido</a>
                    </div>
                </div>
                <hr>
                <div class="p-col-12" style="text-align: center; color: rgb(105, 108, 111);" *ngIf="countNotifications == '0'">
                    <span >No tiene notificaciones disponibles</span>
                </div>
                <div *ngIf="countNotifications != '0'">
                    <p-scrollPanel  [style]="{width: '100%', height: 'auto'}">
                        <ng-template pTemplate>
                            <p-table [value]="lsNotificaciones" selectionMode="single" [paginator]="true" [rows]="6" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Mensaje</th>
                                        <th>Fecha</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData let-noti>
                                    <tr [pSelectableRow]="rowData" (click)="mostrarDialogNotificacion(noti); op.hide()">
                                        <td>{{noti.mensajeNotif}}</td>
                                        <td style="font-size: 12px;">{{noti.creadoEn | date : 'dd-MM-yy hh:mm a'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </ng-template>
                    </p-scrollPanel>
                </div>
                <!-- <hr>
                <div class="p-grid">
                    <div class="p-col-12" style="text-align: right;">
                        <a (onclick)="verTodasNotificaciones()" style="cursor: pointer">Ver todas las notificaciones</a>
                    </div>
                </div> -->
            </p-overlayPanel>

            
            <a href="#" class="profile-menu-button" (click)="app.onTopbarUserMenuButtonClick($event)">
                <!-- <img src="assets/layout/images/avatar.png" alt="sapphire-layout" /> -->
                <i class="pi pi-bars" aria-hidden="true" style="color: #d2d2d2; font-size: 2.5em;"></i>
            </a>
            <ul class="layout-profile-menu fadeInDown" [ngClass]="{'layout-profile-menu-active': app.topbarUserMenuActive}" (click)="app.onTopbarUserMenuClick($event)">
                <!-- <li class="layout-profile-menu-search">
                    <span class="md-inputfield">
                        <input type="text" pInputText />
                        <label>Search</label>
                    </span>
                </li>
                <li role="menuitem">
                    <a href="#" pRipple (click)="app.onTopbarSubItemClick($event)">
                        <i class="pi pi-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" pRipple (click)="app.onTopbarSubItemClick($event)">
                        <i class="pi pi-envelope"></i>
                        <span>Inbox</span>
                    </a>
                </li> -->
                <li role="menuitem">
                    <a href="#" pRipple (click)="app.showUserModal($event)">
                        <i class="pi pi-user"></i>
                        <span>Usuario</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" pRipple (click)="app.openNotes()">
                        <i class="pi pi-pencil"></i>
                        <span>Bitácora</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a pRipple (click)="logout()">
                        <i class="pi pi-times"></i>
                        <span>Salir</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>

