:host ::ng-deep {
    .p-toast-message-custom {
        background-color: #e6df5fa8;
        border: solid #FBC02D;
        border-width: 0 0 0 6px;
        color: #000000;
        .p-toast-icon-close {
            color: #2c1e30;
        }
    }
}

.hoverMouse {
    color: #1e5be9 !important;
    text-decoration: underline #1e5be9 !important;
    cursor: pointer
}

.textHover :hover {
    color: #0013e8 !important;
    text-decoration: underline #0013e8 !important;
}