<div class="p-grid">
    <div class="p-col-12">
        <div class="card toolbar-demo">
            <h5>Toolbar</h5>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <button pButton type="button" label="New" icon="pi pi-plus"></button>
                    <button pButton type="button" label="Update" class="p-button-secondary"
                            icon="pi pi-refresh"></button>

                    <i class="pi pi-bars p-toolbar-separator"></i>

                    <button pButton type="button" class="p-button-success" icon="pi pi-check"></button>
                    <button pButton type="button" class="p-button-help" icon="pi pi-print"></button>
                    <button pButton type="button" class="p-button-danger" icon="pi pi-trash"></button>
                </div>

                <div class="p-toolbar-group-right">
                    <p-splitButton label="Save" icon="pi pi-check" [model]="items"></p-splitButton>
                </div>
            </p-toolbar>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <div class="card">
            <h5>AccordionPanel</h5>
            <p-accordion>
                <p-accordionTab header="Header I" [selected]="true">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card">
                                <h5>Vertical</h5>
                                <div class="p-fluid">
                                    <div class="p-field">
                                        <label for="firstname1">Name</label>
                                        <input id="firstname1" type="text" pInputText>
                                    </div>
                                    <div class="p-field">
                                        <label for="lastname1">Email</label>
                                        <input id="lastname1" type="text" pInputText>
                                    </div>
                                    <div class="p-field">
                                        <label for="age1">Age</label>
                                        <input id="age1" type="text" pInputText>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <h5>Vertical Grid</h5>
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col">
                                        <label for="firstname2">Name</label>
                                        <input id="firstname2" type="text" pInputText>
                                    </div>
                                    <div class="p-field p-col">
                                        <label for="lastname2">Email</label>
                                        <input id="lastname2" type="text" pInputText>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Header II">
                    <div class="p-grid">
                        <div class="p-col-12">
                            <div class="card">
                                <h5>Advanced</h5>
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col-12 p-md-6">
                                        <label for="firstname6">Firstname</label>
                                        <input id="firstname6" type="text" pInputText>
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <label for="lastname6">Lastname</label>
                                        <input id="lastname6" type="text" pInputText>
                                    </div>
                                    <div class="p-field p-col-12">
                                        <label for="address">Address</label>
                                        <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
                                    </div>
                                    <div class="p-field p-col-12 p-md-6">
                                        <label for="city">City</label>
                                        <input id="city" type="text" pInputText>
                                    </div>
                                    <div class="p-field p-col-12 p-md-3">
                                        <label for="state">State</label>
                                        <p-dropdown inputId="state" [options]="states" [(ngModel)]="selectedState" placeholder="Select" optionLabel="name"></p-dropdown>
                                    </div>
                                    <div class="p-field p-col-12 p-md-3">
                                        <label for="zip">Zip</label>
                                        <input id="zip" type="text" pInputText>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Header III">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                    officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque nihil impedit
                    quo minus.
                </p-accordionTab>
            </p-accordion>
        </div>

        <!-- <div class="card">
            <h5>TabView</h5>
            <p-tabView orientation="left">
                <p-tabPanel header="Header I" leftIcon="pi pi-check">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est laborum.
                </p-tabPanel>
                <p-tabPanel header="Header II" leftIcon="pi pi-user">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque
                    ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia
                    voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                    voluptatem sequi nesciunt.
                    Consectetur, adipisci velit, sed quia non numquam eius modi.
                </p-tabPanel>
                <p-tabPanel header="Header III" leftIcon="pi pi-mobile">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores
                    et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                    officia deserunt mollitia animi, id est laborum et dolorum fuga.
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque nihil impedit
                    quo minus.
                </p-tabPanel>
            </p-tabView>
        </div> -->
    </div>

    <div class="p-col-12 p-md-6">
        <div class="card">
            <div class="p-grid">
                <div class="p-col-12">
                    <div class="card">
                        <h5>Default</h5>
                        <p>Pagination, sorting, filtering and checkbox selection.</p>
                        <p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
                                 styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                                 [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                    Customers
                                    <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                       placeholder="Global Search"/>
                            </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 3rem">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th pSortableColumn="name">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Name
                                            <p-sortIcon field="name"></p-sortIcon>
                                            <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="country.name">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Country
                                            <p-sortIcon field="country.name"></p-sortIcon>
                                            <p-columnFilter type="text" field="country.name" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="representative.name">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Agent
                                            <p-sortIcon field="representative.name"></p-sortIcon>
                                            <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                                <ng-template pTemplate="header">
                                                    <div class="p-px-3 p-pt-3 p-pb-0">
                                                        <span class="p-text-bold">Agent Picker</span>
                                                    </div>
                                                </ng-template>
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                                        <ng-template let-option pTemplate="item">
                                                            <div class="p-multiselect-representative-option">
                                                                <img [alt]="option.label" src="assets/demo/images/avatar/{{option.image}}" width="32" style="vertical-align: middle" />
                                                                <span class="p-ml-1">{{option.name}}</span>
                                                            </div>
                                                        </ng-template>
                                                    </p-multiSelect>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="date">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Date
                                            <p-sortIcon field="date"></p-sortIcon>
                                            <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="balance">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Balance
                                            <p-sortIcon field="balance"></p-sortIcon>
                                            <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" class="p-ml-auto"></p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="status">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Status
                                            <p-sortIcon field="status"></p-sortIcon>
                                            <p-columnFilter field="status" matchMode="equals" display="menu">
                                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                                                        <ng-template let-option pTemplate="item">
                                                            <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                                        </ng-template>
                                                    </p-dropdown>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th pSortableColumn="activity">
                                        <div class="p-d-flex p-jc-between p-ai-center">
                                            Activity
                                            <p-sortIcon field="activity"></p-sortIcon>
                                            <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                                <ng-template pTemplate="filter" let-filter="filterCallback">
                                                    <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="p-m-3"></p-slider>
                                                    <div class="p-d-flex p-ai-center p-jc-between p-px-2">
                                                        <span>{{activityValues[0]}}</span>
                                                        <span>{{activityValues[1]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-columnFilter>
                                        </div>
                                    </th>
                                    <th style="width: 8rem"></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-customer>
                                <tr class="p-selectable-row">
                                    <td>
                                        <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Name</span>
                                        {{customer.name}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Country</span>
                                        <img src="assets/demo/flags/flag_placeholder.png"
                                             [class]="'flag flag-' + customer.country.code" width="30">
                                        <span class="image-text" style="margin-left: .5em;vertical-align: middle">{{customer.country.name}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Representative</span>
                                        <img [alt]="customer.representative.name"
                                             src="assets/demo/images/avatar/{{customer.representative.image}}" width="32"
                                             style="vertical-align: middle"/>
                                        <span class="image-text" style="margin-left: .5em;vertical-align: middle">{{customer.representative.name}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Date</span>
                                        {{customer.date | date: 'MM/dd/yyyy'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Balance</span>
                                        {{customer.balance | currency:'USD':'symbol'}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Status</span>
                                        <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
                                    </td>
                                    <td>
                                        <span class="p-column-title">Activity</span>
                                        <p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
                                    </td>
                                    <td style="text-align: center">
                                        <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No customers found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <h5>Fieldset</h5>
            <p-fieldset legend="Toggleable" toggleable="true">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.
            </p-fieldset>
        </div>

        <div class="card">
            <div class="card-header">
                <h5>Card</h5>
                <p-menu #menu [popup]="true" [model]="cardMenu"></p-menu>
                <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-plain p-button-text"
                        (click)="menu.toggle($event)"></button>
            </div>

            <p class="card-subtitle">Subtitle</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
        </div>
    </div>

    <div class="p-col-12">
        <div class="card">
            <h5>Divider</h5>
            <div class="p-grid">
                <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="username">Username</label>
                            <input pInputText id="username" type="text"/>
                        </div>
                        <div class="p-field">
                            <label for="password">Password</label>
                            <input pInputText id="password" type="password"/>
                        </div>
                        <p-button label="Login"></p-button>
                    </div>
                </div>
                <div class="p-col-1">
                    <p-divider layout="vertical">
                        <b>OR</b>
                    </p-divider>
                </div>
                <div class="p-col-5 p-ai-center p-jc-center">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                        aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>

                    <p-divider layout="horizontal" align="center">
                        <span class="p-tag">Badge</span>
                    </p-divider>

                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                        cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est
                        laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>

                    <p-divider align="right">
                        <p-button label="Button" icon="pi pi-search" styleClass="p-button-outlined"></p-button>
                    </p-divider>

                    <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
                        voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur
                        a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                        doloribus asperiores repellat.
                        Donec vel volutpat ipsum. Integer nunc magna, posuere ut tincidunt eget, egestas vitae sapien.
                        Morbi dapibus luctus odio.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12">
        <div class="card">
            <h5>Splitter</h5>
            <p-splitter [style]="{'height': '300px'}" [panelSizes]="[20,80]" [minSizes]="[10,0]" styleClass="p-mb-5">
                <ng-template pTemplate="panel">
                    <div class="p-col p-d-flex p-ai-center p-jc-center p-p-2" style="overflow: auto">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id est laborum.
                    </div>
                </ng-template>
                <ng-template pTemplate="panel">
                    <p-splitter layout="vertical" [panelSizes]="[30,70]" [minSizes]="[10,10]" panelStyleClass="splitter-overflow">
                        <ng-template pTemplate="panel">
                            <div class="p-d-flex p-ai-center p-jc-center p-p-2">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                voluptas
                                sit
                                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                                modi.
                            </div>
                        </ng-template>
                        <ng-template pTemplate="panel">
                            <div class="p-d-flex p-ai-center p-jc-center p-p-2">
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                                officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                                rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                                eligendi optio cumque nihil impedit quo minus.
                            </div>
                        </ng-template>
                    </p-splitter>
                </ng-template>
            </p-splitter>
        </div>
    </div>
</div>
