/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/@fullcalendar/daygrid/main.min.css";
@import "../node_modules/@fullcalendar/timegrid/main.min.css";
@import "assets/demo/flags/flags.css";

// Override Styles

// se ha establecido este z-index debido a que el DynamicDialog tiene un z-index entre 12000 - 12999
.swal2-container {
    z-index: 13000 !important;
}

.layout-content{
    padding: 0px 20px !important;
}

.layout-topbar-inabve .layout-top
{
    background-color: #111c4e;
    padding-top: 0px!important;
    padding-inline: 25px 25px;
}

.layout-menu-light .layout-menu a .menuitem-text,
.layout-menu-light .layout-menu a i
{
    // color: rgb(224, 224, 241) !important;
    color: rgb(243, 234, 234) !important;
    font-weight: 600;
}

.layout-menu-light .layout-menu a:hover i {
    color: #111c4e !important;
}

 @media (min-width: 1025px) {
    .layout-menu-horizontal .layout-menu > li > a:hover{
        background-color: darkslategrey;
    }
 }


.card-iframe {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px;
    background: #ffffff;
    padding: 0.25em;
    box-sizing: border-box;
}

.p-dropdown-item {
	white-space: normal !important;
  }

.recuperarClave {
    color: #111c4e !important;
}
.recuperarClave:hover {
    color: #546fe9 !important;
}

.passVerde {
    color: green;
}

.passRojo {
    color: red;
}

.login-body .login-panel {
    width: 565px;
    height: auto !important;
    background-color: #fafafa;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -282px;
    margin-top: -232px;
    padding: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 12px 17px 2px rgba(0, 0, 0, 0.14);
  }
