 
<div class="p-grid"> 
    <div class="p-col-12 p-md-12" style="background-color: white;">
        <!-- p-fieldset legend="Veterano o excombatiente" -->
        <form [formGroup]="notaForm" (submit)="guardar()" (reset)="cancelar()"> 
            <p-tabView [(activeIndex)]="tabPanelActivo"  (onChange)="cambiarTab($event)">
                <p-tabPanel *ngIf="tipoEstado == 'veterano'" header="Veterano o excombatiente">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-2 p-lg-1">
                            <img alt="No se econtró fotografía" class="foto-veterano" [src]="foto_veterano" onerror="this.src='assets/img/blank_avatar.png'">
                        </div>
                        <div class="p-col-12 p-md-10 p-lg-11">
                            <h4>{{ veterano.nombres! }} {{ veterano.apellidos! }}</h4>
                            <div>
                                <span>CARNET: <strong>{{ veterano.carnet }}</strong></span><br>
                                <span>DUI: <strong>{{ veterano.dui }}</strong></span>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel *ngIf="tipoEstado == 'veterano' && this.veterano?.grupoFamiliar?.length > 0" header="Familiares">
                    <div style="text-align: center; color: #666666; padding: 0px 0px 10px 0px;">GRUPO FAMILIAR DE {{ veterano.nombres! }} {{ veterano.apellidos! }}</div>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-5">
                            <h6>Seleccione un familiar</h6>
                            <p-dropdown class="p-inputtext-sm" formControlName="idBeneficiario" appendTo="body" [options]="grupoFamiliar" placeholder="Seleccione" [readonly]="false" optionLabel="name" optionValue="code" [style]="{'width':'100%'}" (onChange)="seleccionarBeneficiario()"></p-dropdown>
                        </div>
                        <div *ngIf="familiar != null" class="p-col-12 p-md-6 p-lg-7">
                            <h4>{{ familiar.nombres! }} {{ familiar.apellidos! }}</h4>
                            <div>
                                <span>DUI: <strong>{{ familiar.dui }}</strong></span><br>
                                <span>TELÉFONO: <strong>{{ familiar.telefono }}</strong></span><br>
                                <span>PARENTESCO: <strong>{{ familiar.parentesco }}</strong></span>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel *ngIf="tipoEstado == 'becario'" header="Becario">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-2 p-lg-1">
                            <img alt="No se econtró fotografía" class="foto-veterano" src="assets/img/blank_avatar.png">
                        </div>
                        <div class="p-col-12 p-md-10 p-lg-11">
                            <h4>{{ becario.nombres! }} {{ becario.apellidos! }}</h4>
                            <div>
                                <span>CARNET: <strong>{{ becario.carnet! }}</strong></span><br>
                                <span>DUI: <strong>{{ becario.dui! }}</strong></span>
                            </div>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Particular">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <h6>DUI</h6>
                            <input type="hidden" formControlName="idParticular" value="-1">
                            <p-inputMask formControlName="duiParticular" mask="99999999-9" (onComplete)="buscarDUI()"></p-inputMask>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <h6>Nombres</h6>
                            <input type="text" pInputText formControlName="nombresParticular" [style]="{'width':'100%'}">
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <h6>Apellidos</h6>
                            <input type="text" pInputText formControlName="apellidosParticular" [style]="{'width':'100%'}">
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-4">
                            <h6>Teléfono</h6>
                            <input type="text" pInputText formControlName="telefonoParticular">
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-8">
                            <h6>Observación</h6>
                            <input type="text" pInputText formControlName="comentariosParticular" [style]="{'width':'100%'}">
                        </div>
                    </div>
                    <div *ngIf="this.veteranos.length > 0">
                        <h6>En grupo familiar de:</h6>
                        <p-table [value]="this.veteranos" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>DUI</th>
                                    <th>Veterano o excombatiente</th>
                                    <th>Parentesco</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-veterano>
                                <tr>
                                    <td>{{ veterano.duiVeterano }}</td>
                                    <td>{{ veterano.nombreVeterano }} {{ veterano.apellidoVeterano }}</td>
                                    <td>{{ veterano.parentesco }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-tabPanel>
            </p-tabView>
            <!-- /p-fieldset -->
            <!-- **************** FORMULARIO **************** -->
            <p-fieldset legend="Agregar actividad" toggleable="true">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-4 p-lg-3"> 
                            <h6>Canal de atención</h6>
                            <p-dropdown class="p-inputtext-sm" formControlName="idCanalAtencion" appendTo="body" [options]="canalesAtencion" placeholder="Seleccione" [readonly]="false" optionLabel="name" optionValue="code" [style]="{'width':'100%'}" (onChange)="mostrarOrigen($event)"></p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-3"> 
                            <h6>Fecha</h6>  
                            <p-calendar formControlName="fecha" dateFormat="dd/mm/yy"></p-calendar>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-3"> 
                            <h6>Hora de inicio</h6>  
                            <p-calendar formControlName="horaInicio" [timeOnly]="true" showSeconds="true"></p-calendar>
                        </div>
                        <div class="p-col-12 p-md-4 p-lg-3"> 
                            <h6>Hora de finalización</h6>  
                            <p-calendar formControlName="horaFin" [timeOnly]="true" showSeconds="true" (onFocus)="detenerIntervalo()"></p-calendar>
                        </div>
                        <div *ngIf="esLlamada" class="p-col-12 p-md-12 p-lg-12">
                            <div class="p-grid">
                                <div class="p-col-12 p-md-4 p-lg-3">
                                    <h6>Origen de la llamada:</h6>
                                </div>
                                <div class="p-col-12 p-md-3 p-lg-2">
                                    <p-radioButton name="origenLlamada" formControlName="origenLlamada" value="0" inputId="origenNacional"></p-radioButton>
                                    <label for="origenNacional" class="ml-2">Nacional</label>
                                </div>
                                <div class="p-col-12 p-md-3 p-lg-2">
                                    <p-radioButton name="origenLlamada" formControlName="origenLlamada" value="1" inputId="origenExterior"></p-radioButton>
                                    <label for="origenExterior" class="ml-2">Exterior</label>
                                </div>
                            </div>
                        </div>
                        <!--div class="p-col-12 p-md-12 p-lg-12">
                            <div class="p-grid cinta-gris">
                                <div class="p-col-12 p-md-6 p-lg-4">
                                    <h6>Canal de atención</h6>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-8" [style]="{'display':'flex', 'justify-content':'space-between'}">
                                    <p-radioButton value="0" formControlName="canalAtencion" label="Presencial" [(ngModel)]="canalAtencion"></p-radioButton>
                                    <p-radioButton name="canalAtencion" value="1" formControlName="canalAtencion" label="Llamada entrante" [(ngModel)]="canalAtencion"></p-radioButton>
                                    <p-radioButton name="canalAtencion" value="2" formControlName="canalAtencion" label="Llamada saliente" [(ngModel)]="canalAtencion"></p-radioButton>
                                </div>
                            </div>
                        </div-->
                        <div class="p-col-12 p-md-12 p-lg-6"> 
                            <h6>Departamento</h6>
                            <p-dropdown class="p-inputtext-sm" formControlName="idUnidad" appendTo="body" [options]="departamentos" placeholder="Seleccione" [readonly]="false" optionLabel="name" optionValue="code" [style]="{'width':'100%'}" [filter]="true" (onChange)="cargarServicios()"></p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-6"> 
                            <h6>Actividad</h6>
                            <p-dropdown class="p-inputtext-sm" formControlName="idServicio" appendTo="body" [options]="servicios" placeholder="Seleccione" [readonly]="false" optionLabel="name" optionValue="code" [style]="{'width':'100%'}" [panelStyle]="{width:'500px'}" [filter]="true" (onChange)="cargarEstados()"></p-dropdown>
                        </div>
                    </div>
                    <div>
                        <h6>Descripción de la actividad</h6>
                        <textarea pInputTextarea formControlName="descripcion" [style]="{'width':'100%', 'min-height': '61px'}" placeholder="Escriba aquí..." [autoResize]="true"></textarea>
                    </div>
                    <div class="p-grid">
                        <div class="p-col-12 p-md-12 p-lg-6"></div>
                        <div class="p-col-12 p-md-12 p-lg-6"> 
                            <h6>Estado de la actividad</h6>
                            <p-dropdown class="p-inputtext-sm" formControlName="idEstado" appendTo="body" [options]="estadosBitacora" placeholder="Seleccione" [readonly]="false" optionLabel="name" optionValue="code" [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                    </div>
                    <br>
                    <div class="p-grid">
                        <div class="p-col-12 p-lg-8 p-md-7 p-sm-6"></div>
                        <div class="p-col-12 p-lg-4 p-md-5 p-sm-6 p-xs-12" [style]="{'display': 'flex', 'justify-content': 'space-between'}">
                            <button type="reset" icon="pi pi-times" class="p-button p-button-danger p-button-outlined" pButton label="Cancelar"></button>
                            <button type="submit" icon="pi pi-save" class="p-button p-button-primary" pButton [label]="guardar_label" [disabled]="!notaForm.valid || enviando"></button>
                        </div>
                    </div>
            </p-fieldset>
        </form>
        <!-- **************** FIN DE FORMULARIO **************** -->

            <!-- **************** HISTORIAL DE ACTIVIDADES **************** -->
            <p-fieldset legend="Actividades recientes" toggleable="true">
                <p-table [value]="actividades" [tableStyle]="{'min-width': '50rem'}" [scrollable]="true" scrollDirection="vertical" scrollHeight="300px">
                    <ng-template pTemplate="header">
                        <tr class="table-header">
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Departamento</th>
                            <th>Técnico</th>
                            <th>Estado</th>
                            <th>&nbsp;</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-actividad let-i="rowIndex">
                        <tr *ngIf="actividad.activo" [style]="i % 2 == 0 ? {'background-color':'#d6e7fa'}:{}" class="historial-tr">
                            <td>{{actividad.fecha}}</td>
                            <td>{{actividad.horaInicio}}</td>
                            <td>{{actividad.unidad}}</td>
                            <td>{{actividad.nombreTecnico}}</td>
                            <td>{{actividad.estatus}}</td>
                            <td rowspan="2" [style]="{'border-bottom':'inherit', 'justify-content':'space-between'}">
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success mr-2" (click)="editarNota(actividad)"></button>
                                <button *ngIf="_permisos.permisos?.bitacoraEliminar && id_departamento == actividad.idUnidadUsuario" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="eliminarNota(actividad)"></button>
                            </td>
                        </tr>
                        <tr *ngIf="actividad.activo" [style]="{'border-bottom': '1px solid #000000', 'background-color': i % 2 == 0 ? '#d6e7fa':'transparent', 'border-top': '#0002'}">
                            <td colspan="5" [style]="{'border-bottom':'inherit', 'border-top': '1px solid #0002'}">{{actividad.actividad}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-fieldset>
            <!-- **************** FIN DE HISTORIAL DE ACTIVIDADES **************** -->
    </div>
</div>

<!-- **************** DETALLE DE LA ACTIVIDAD **************** -->
<p-dialog header="Detalle de la actividad" [(visible)]="visibleEditor" [style]="{width: '100%', height: '100%'}">
    <p-fieldset *ngIf="modoBitacora() == 'veterano'" legend="Veterano o excombatiente">
        <div class="p-grid">
            <div class="p-col-12 p-md-2 p-lg-1">
                <img alt="No se econtró fotografía" class="foto-veterano" [src]="foto_veterano" onerror="this.src='assets/img/blank_avatar.png'">
            </div>
            <div class="p-col-12 p-md-10 p-lg-11">
                <h4>{{ veterano.nombres! }} {{ veterano.apellidos! }}</h4>
                <div>
                    <span>CARNET: <strong>{{ veterano.carnet }}</strong></span><br>
                    <span>DUI: <strong>{{ veterano.dui }}</strong></span>
                </div>
            </div>
        </div>
    </p-fieldset>
    <p-fieldset *ngIf="modoBitacora() == 'familiar' && familiar != null" legend="Persona que se atendió">
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <h4>{{ familiar.nombres }} {{ familiar.apellidos }}</h4>
                <div>
                    <span>DUI: <strong>{{ familiar.dui! }}</strong></span><br>
                    <span>TELÉFONO: <strong>{{ familiar.telefono! }}</strong></span><br>
                    <span>PARENTESCO: <strong>{{ familiar.parentesco! }}</strong></span>
                </div>
            </div>
        </div>
    </p-fieldset>
    <p-fieldset *ngIf="modoBitacora() == 'particular' && persona != null" legend="Persona que se atendió">
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <h4>{{ persona.nombres! }} {{ persona.apellidos! }}</h4>
                <div>
                    <span>DUI: <strong>{{ persona.dui! }}</strong></span><br>
                    <span>TELÉFONO: <strong>{{ persona.telefono! }}</strong></span>
                </div>
            </div>
        </div>
    </p-fieldset>
    <p-fieldset *ngIf="modoBitacora() == 'becario'" legend="Becario">
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <h4>{{ becario.nombres! }} {{ becario.apellidos! }}</h4>
                <div>
                    <span>DUI: <strong>{{ becario.dui! }}</strong></span><br>
                    <span>TELÉFONO: <strong>{{ becario.telefono! }}</strong></span>
                </div>
            </div>
        </div>
    </p-fieldset>
    <p-fieldset legend="Detalle de la actividad" toggleable="true">
        <div class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Canal de atención:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10">
                <span class="campos">{{actividad.canalDeAtencion}}</span>
            </div>
        </div>
        <div *ngIf="actividad.esLlamada" class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Origen de la llamada:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10">
                <span class="campos">{{actividad.nombreOrigenLlamada}}</span>
            </div>
        </div>
        <div class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Fecha:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10">
                <span class="campos">{{actividad.fecha}}</span>
            </div>
        </div>
        <div class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Hora de inicio:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10">
                <span class="campos">{{actividad.horaInicio}}</span>
            </div>
        </div>
        <div class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Hora de finalización:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10">
                <span class="campos">{{actividad.horaFin}}</span>
            </div>
        </div>
        <div class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Unidad:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10">
                <span class="campos">{{actividad.unidad}}</span>
            </div>
        </div>
        <div class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Actividad:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10">{{actividad.actividad}}</div>
        </div>
        <div class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Descripción:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10" [innerHTML]="actividad.descripcion"></div>
        </div>
        <div class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Estado:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10">
                <span class="campos">{{actividad.estatus}}</span>
            </div>
        </div>
        <div class="p-grid grid_item">
            <div class="p-col-12 p-md-2 p-lg-2">
                <label class="titulos">Técnico:</label>
            </div>
            <div class="p-col-12 p-md-10 p-lg-10">
                <span class="campos">{{actividad.nombreTecnico}}</span>
            </div>
        </div>
    </p-fieldset>
</p-dialog>
