.p-dropdown-item
{
	white-space: normal !important;
}

.grid_item
{
	padding: 5px 0px;
	border-bottom: 1px dashed #d9d9d9;
}

.cinta-gris
{
	background-color: #e0e0e0;
	border-radius: 5px;
	vertical-align: baseline;
	padding: 5px 0px;
}

.table-header
{
	background-color:#f5f5f5;
	border-bottom: 2px solid #666666;
}

.table-header th
{
	border-bottom: inherit !important;
	background-color: transparent !important;
}

.foto-veterano
{
	display: block;
	width: 100%;
	max-width: 150px;
	margin: 0px auto
}

.historial-tr td
{
	border: inherit !important;
}

.titulos {
	padding: 4px;
	border-radius: 3px;
	background-color: rgba(212, 207, 206, 0.407);
  }
  
  .campos {
	font-size: 16px;
	font-weight: bold;
  }
